.from {
    padding: 20px;
    /* border: 1px dotted #999; */
    border-radius: 0;
    -webkit-appearance: none;
}

* {
    background-color: bisque;
    text-align: center;
}

.Add {
    padding: 10px;
    border-radius: 50%;
}

h1 {
    font: 20px 'Arial Narrow';
    text-decoration: overline underline;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

.logo{
    border-radius: 30%;
    width: 180px;
    height: 180px;
}

.pizzaTotal {
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
}